/* Colors */
/* Shadows */
/*@mixin big-shadow { box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1); }*/
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
/* Animation */
/*
@mixin transition ($property) {
  transition: $property .15s ease;
}

@keyframes fadeIn {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
}
*/
/* Base Layout & Style */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  color: inherit;
}

html, body {
  background: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', helvetica, arial, sans-serif;
  line-height: 1.6;
  color: #2B292D;
}

#root {
  text-align: left;
  overflow: hidden;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

/* Section Structure */
header {
  width: 100%;
  padding: 0;
  margin: 0;
}

section {
  width: 100%;
  padding: 64px 0;
  margin: 0;
}

footer {
  width: 100%;
  padding: 40px 0;
  margin: 0;
}

.margins {
  margin: 0 auto;
  padding: 0 16px;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.columns .column img {
  width: 100%;
}

.columns.one .column {
  width: 100%;
}

.columns.two .column {
  width: 100%;
}

.columns.three .column {
  width: 100%;
}

.columns.four .column {
  width: 100%;
}

.columns .column-left {
  width: 100%;
}

.columns .column-right {
  width: 100%;
}

/* Basic Type & Elements */
h1, h2, h3, h4, h5, h6, a, p, span, button, ul, li {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', helvetica, arial, sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 24px;
  text-align: left;
}

h1 span {
  font-weight: 700;
  display: block;
}

h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}

h2 span {
  display: block;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
  text-align: center;
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

img.hero-image {
  max-width: 86%;
  margin: 40px auto -40px;
  text-align: center;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

/* Special Patterns */
.button {
  display: inline-block;
  margin: 0 auto;
}

button, .button {
  border: none;
  outline: none;
  background-color: #F36B7F;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 16px 24px;
  width: 100%;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}

button:hover, .button:hover {
  background-color: #2B292D;
}

button:active, .button:active {
  background-color: #ffffff;
}

/* Section-specific */
header {
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 32px;
  border-bottom: 1px solid #E0E0E0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

header .logo {
  width: 130px;
  background: url(../../img/logo.svg) left center no-repeat;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .link-button {
  display: none;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 32px 8px 0;
  text-decoration: none;
  color: #2B292D;
  -webkit-transition: .1s color ease-in-out;
  transition: .1s color ease-in-out;
}

header nav .link-button:hover {
  color: #2B292D;
}

header nav .button {
  display: inline-block;
  margin: 0 auto;
  background-color: #2B292D;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 32px;
}

.theme1 {
  /* White */
  background-color: #ffffff;
  color: #2B292D;
}

.theme1 h1, .theme1 h2 {
  color: #2B292D;
}

.hero {
  position: relative;
  height: auto;
  padding: 80px 0 80px;
  background: transparent url("../../img/page-bg.svg") center bottom no-repeat;
  background-size: contain;
}

.hero .bullet-list {
  margin: 20px 0;
  max-width: 360px;
}

.hero .bullet-list .bullet {
  padding: 0 0 0 80px;
  margin: 30px 0;
  background-position: left center;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 1.3;
  background-size: 60px 60px;
}

.hero .bullet-list .bullet.cards {
  background-image: url("../../img/icon-cards.png");
}

.hero .bullet-list .bullet.srs {
  background-image: url("../../img/icon-books.png");
}

.hero .bullet-list .bullet.platforms {
  background-image: url("../../img/icon-platforms.png");
}

.hero .button {
  margin: 20px auto 0;
  display: inline-block;
}

footer {
  background-color: #2B292D;
}

footer a img {
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 24px;
    text-align: center;
  }
  h2 {
    font-size: 16px;
    line-height: 24px;
  }
  img.hero-image {
    max-width: 100%;
    margin: 0;
  }
  header {
    position: relative;
  }
  header nav .link-button {
    display: block;
  }
  section {
    padding: 60px 0;
  }
  .margins {
    padding: 0;
    width: 90%;
  }
  .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .columns.centered {
    text-align: center;
    margin-bottom: 24px;
  }
  .columns.centered .column {
    margin: 0 auto;
    width: 50%;
  }
  .columns.two .column {
    width: 50%;
  }
  .columns.two .column-left {
    width: 46%;
    padding-right: 0px;
  }
  .columns.two .column-right {
    width: 54%;
    padding-left: 0px;
  }
  .columns.three .column {
    width: 33.33%;
  }
  button, .button {
    width: auto;
    display: inline-block;
  }
  .hero {
    padding-top: 50px;
  }
  .hero .body-copy {
    padding-right: 10%;
  }
}

@media screen and (min-width: 1025px) {
  h1 {
    font-size: 46px;
    line-height: 1.2;
    margin: 0 0 24px;
  }
  section {
    padding: 160px 0;
  }
  .margins {
    padding: 60px 0;
    width: 960px;
  }
  footer .margins {
    padding: 16px 0;
  }
  .hero {
    padding-top: 50px;
  }
  .hero .body-copy {
    padding-right: 20%;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 60px;
    line-height: 1.2;
  }
  .margins {
    padding: 120px 0;
    width: 1200px;
  }
  footer .margins {
    padding: 16px 0;
  }
}
/*# sourceMappingURL=style.css.map */